<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="row">
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
        <div class="col-lg-4">
          <p class="btn">qwe</p>
        </div>
      </div>
    </div>
  </body>
</html>
